<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plants app API</title>
    <style>
        * {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            background-color: #212121;
            color: #fff;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">Plants app API's</h1>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        Check The <a href="https://github.com/ankit-brijwasi/plants-api/blob/master/README.md" style="text-decoration: none;
        color: #1492e6;
        ">README</a> file for more info
        <h5>Routes-</h5>
        <ol type="1">
            <li>/api/auth/registration/</li>
            <li>/api/auth/login/</li>
            <li>/api/nursury/</li>
            <li>/api/nursury/plants/</li>
            <li>/api/cart/</li>
            <li>/api/orders/generate/</li>
            <li>/api/orders/complete/</li>
            <li>/api/order/view/</li>
        </ol>
    </div>
</body>

</html>